<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILOE Patitas</title>
    <link rel="shortcut icon" href="../IMG/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/index.css">

</head>

<body>
    <header class="header">
        <div class="header__brand">
            <a class="header__logo" href="../../index.html">
                <img src="../IMG/logo-main.jpeg" alt="Logo principal SILOE">
            </a>
            <h2 class="header__subtittle">Moda, calidad y estilo para tu mejor amigo</h2>
        </div>

        <img id="menu-open" class="header__icon" src="../IMG/menu.svg" alt="Icon open menu for responsive">

        <nav class="header__nav" id="nav-menu">
            <img class="header__icon header__icon--close" id="menu-close" src="../IMG/close-menu.svg"
                alt="Close icon for responsive menu">

            <ul class="header__menu">
                <li> <a class="header__link" href="../../index.html">Inicio</a></li>
                <li> <a class="header__link header__link--button" id="logout-button" href="../VIEWS/login.html">Cerrar sesion</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="welcome-content">

    </main>

    <footer>

    </footer>
    <script src="../JS/admin.js" defer></script>
    <script src="../JS/index.js" defer></script>
</body>

</html>