<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILOE Patitas</title>
    <link rel="shortcut icon" href="../IMG/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/index.css">

</head>

<body>
    <header class="header">
        <div class="header__brand">
            <a class="header__logo" href="index.html">
                <img src="../../ASSETS/IMG/logo-main.jpeg" alt="Logo principal SILOE">
            </a>
            <h2 class="header__subtittle">Moda, calidad y estilo para tu mejor amigo</h2>
        </div>

        <img id="menu-open" class="header__icon" src="../..//ASSETS/IMG/menu.svg" alt="Icon open menu for responsive">

        <nav class="header__nav" id="nav-menu">
            <img class="header__icon header__icon--close" id="menu-close" src="../../ASSETS/IMG/close-menu.svg"
                alt="Close icon for responsive menu">

            <ul class="header__menu">
                <li> <a class="header__link" href="../../index.html">Inicio</a></li>
                </li>
            </ul>
        </nav>
    </header>

    <main class="welcome-content">
        <div class="signup">
            <div class="signup__container">
                <div class="signup__container--left">
                    <div>
                        <p>¿Ya tienes una cuenta SILOE?</p>
                    </div>
                    <div>
                        <a href="./login.html">
                            <button>¡Inicia sesion aqui!
                                <img src="../IMG/arrow-right-double.svg">
                            </button>
                        </a>
                    </div>
                </div>

                <fieldset class="signup__container--right">
                    <h1 class="signup-tittle">Registro</h1>
                    <form class="signup__form">
                        <div class="signup__input">
                            <img class="signup__icon" src="../IMG/user.svg">
                            <input type="text" placeholder="Nombre" required>
                        </div>
                        <div class="signup__input">
                            <img class="signup__icon" src="../IMG/lock.svg">
                            <input type="password" placeholder="Contraseña" required>
                        </div>
                        <p class="signup__subtittle">Selecciona tu genero porfavor:</p>
                        <div class="signup__radio">
                            <div class="signup__radio--input">
                                <input id="mujer" type="radio" value="genero">
                                <label for="mujer">
                                    <img src="../IMG/women.svg" alt="icono mujer">
                                </label>
                            </div>
                            <div class="signup__radio--input">
                                <input id="hombre" type="radio" value="genero">
                                <label for="hombre">
                                    <img src="../IMG/men.svg" alt="icono hombre">
                                </label>
                            </div>
                            <div class="signup__radio--input">
                                <input id="nogenero" type="radio" value="genero">
                                <label for="nogenero">
                                    <img src="../IMG/user.svg" alt="icono alternatico para identidad de genero">
                                </label>
                            </div>
                        </div>
                        <button class="signup__button">¡Unete ahora!</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </main>
    <script src="../JS/index.js" defer></script>
</body>

</html>