<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILOE Patitas</title>
    <link rel="shortcut icon" href="../IMG/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/index.css">

</head>

<body>
    <main class="welcome-content">
        <div class="signup">
            <div class="signup__container">
                <div class="signup__container--left">
                    <div>
                        <p>¿Ya tienes una cuenta SILOE?</p>
                    </div>
                    <div>
                        <a href="./login.html">
                            <button>¡Inicia sesion aqui!
                                <img src="../IMG/arrow-right-double.svg">
                            </button>
                        </a>
                    </div>
                </div>

                <fieldset class="signup__container--right">
                    <h1 class="signup-tittle">Registro</h1>
                    <form class="signup__form" id="signup__form">
                        <div class="signup__input">
                            <img class="signup__icon" src="../IMG/user.svg">
                            <input type="text" placeholder="Nombre" id="username" required>
                        </div>
                        <div class="signup__input">
                            <img class="signup__icon" src="../IMG/lock.svg">
                            <input type="password" placeholder="Contraseña" id="password" required>
                        </div>
                        <div class="signup__input">
                            <img class="signup__icon" src="../IMG/mail.svg">
                            <input type="email" placeholder="E-mail" id="email" required>
                        </div>
                        <p class="signup__subtittle">Selecciona tu genero porfavor:</p>
                        <div class="signup__radio">
                            <div class="signup__radio--input">
                                <input id="mujer" type="radio" value="mujer" name="inputgenero">
                                <label for="mujer">
                                    <img src="../IMG/women.svg" alt="icono mujer">
                                </label>
                            </div>
                            <div class="signup__radio--input">
                                <input id="hombre" type="radio" value="hombre" name="inputgenero">
                                <label for="hombre">
                                    <img src="../IMG/men.svg" alt="icono hombre">
                                </label>
                            </div>
                            <div class="signup__radio--input">
                                <input id="nogenero" type="radio" value="nogenero" name="inputgenero" checked>
                                <label for="nogenero">
                                    <img src="../IMG/user.svg" alt="icono alternatico para identidad de genero">
                                </label>
                            </div>
                        </div>
                        <input type="submit" class="signup__button" value="Registrarme">
                    </form>
                </fieldset>
            </div>
        </div>
    </main>
    <script src="../JS/index.js" defer></script>
    <script src="../JS/signup.js" defer></script>
</body>

</html>