.footer {
    width: 100%;
    height: 180px;
    display: flex;
    background-color: #6b6b6b;
    justify-content: space-between;
    padding: 30px;
}

.footer p {
    color: #fff;
}

.footer__img {
    height: 100%;
    padding-bottom: 0;
}

.footer__li {
    display: flex;
    align-items: center;
}

.footer__li a {
    text-decoration: none;
    color: #fff;
}

.footer__li p {
    color: #fff;
}

.footer__li img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}