.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: #6e6e6e;
    box-shadow: 0px 7px 9px -1px rgba(110, 110, 110, 0.73);
    -webkit-box-shadow: 0px 7px 9px -1px rgba(110, 110, 110, 0.73);
    -moz-box-shadow: 0px 7px 9px -1px rgba(110, 110, 110, 0.73);
}

.header__brand {
    display: flex;
    color: #fff;
    align-items: center;
}

.header__subtittle {
    display: flex;
    flex-wrap: nowrap;
    /* ch es lo que mide un 0 */
    animation: typing 6s steps(42, end), blink .5s infinite step-end alternate;
    width: 31.5ch;
    overflow: hidden;
}

.header__logo {
    height: 100%;
}

.header__logo img {
    height: 100%;
}

.header__menu {
    height: 100%;
    align-items: center;
    margin-right: 20px;
    list-style: none;
    display: flex;
    gap: 15px;
}

.header__link {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.header__link:hover {
    border-bottom: 1px solid #fff;
}

.header__link--button {
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 8rem;
    transition: 0.3s;
}

.header__link--button:hover {
    background-color: #ffffff55;
}

.header__icon {
    width: 35px;
    display: none;
    cursor: pointer;
}

.header__icon--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.header__nav--visible {
    right: 0 !important;
}

@media screen and (width <=1020px) {

    .header__nav {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        padding: 50px;
        padding: 30px 40px;
        background-color: #6e6e6ede;
        width: 80%;
        transition: right 0.3s;
    }

    .header__menu {
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
        margin-top: 50px;
    }

    .header__subtittle {
        display: flex;
        flex-wrap: wrap;
    }

    .header__icon {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        margin-top: 22px;
    }
}

@media screen and (width >=700px) {
    .header__subtittle {
        display: block;
        white-space: nowrap;
    }
}

@media screen and (width <=800px) {

    .header__nav {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        transition: right 0.3s;
        align-items: center;
    }

    .header__menu {
        flex-direction: column;
        justify-content: flex-start;
    }

    .header__subtittle {
        font-size: 20px;
        flex-wrap: nowrap;
    }

    .header__link {
        font-size: 20px;
    }

    .header__icon {
        display: block;
    }
}

@media screen and (width <=700px) {

    .header__nav {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        transition: right 0.3s;
        align-items: center;
    }

    .header__menu {
        flex-direction: column;
        justify-content: flex-start;
    }

    .header__subtittle {
        flex-wrap: wrap;
        font-size: 20px;
        height: 100%;
        animation: none;
        align-items: center;
        width: 200px;
    }

    .header__link {
        font-size: 20px;
    }

    .header__icon {
        display: block;
    }
}

@media screen and (width <=460px) {
    .header__icon {
        display: block;
    }

    .header__subtittle {
        font-size: 10px;
        width: 100px;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}