.login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.login__container {
    position: absolute;
    display: flex;
    width: 750px;
    height: 400px;
    box-shadow: 0px 0px 63px 8px rgba(110, 110, 110, 0.77);
    -webkit-box-shadow: 0px 0px 63px 8px rgba(110, 110, 110, 0.77);
    -moz-box-shadow: 0px 0px 63px 8px rgba(110, 110, 110, 0.77);
}

.login__container--left {
    width: 50%;
    border: solid 0.7px #fff;
    border-radius: 15px 0 0 15px;
    backdrop-filter: blur(40px);
    color: #fff;
    padding: 30px;
}

.login__tittle {
    color: #fff;
    border-bottom: solid 1px #fff;
}

.login__form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
    margin-top: 30px;
    align-items: start;
}

.login__input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login__icon {
    width: 20px;
    height: 20px;
}

.login__input input {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(40px);
    border: 0.5px solid #ffffffe5;
    outline: none;
    color: #fff;
}

.login__button {
    border: none;
    outline: none;
    margin-top: 120px;
    padding: 10px 15px;
    border: solid 0.4px #fff;
    border-radius: 10px;
    background-color: #5d5c5c;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 0px 28px -1px rgba(110, 110, 110, 1);
    -webkit-box-shadow: 0px 0px 28px -1px rgba(110, 110, 110, 1);
    -moz-box-shadow: 0px 0px 28px -1px rgba(110, 110, 110, 1);
}

.login__button:hover {
    background-color: #fff;
    color: #6e6e6e;
    transition: 0.3s;
}

.login__container--right {
    background-color: #6e6e6ed9;
    backdrop-filter: blur(40px);
    width: 50%;
    border: solid 0.7px #fff;
    border-radius: 0 15px 15px 0;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 30px;
}

.login__container--right p {
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-shadow: 6px 8px 6px rgba(255, 255, 255, 0.6);
}

.login__container--right a {
    text-decoration: none;
}

.login__container--right button {
    display: flex;
    border: none;
    outline: none;
    padding: 10px 15px;
    border: solid 0.4px #6e6e6e;
    border-radius: 10px;
    background-color: #ffffffe5;
    cursor: pointer;
    color: #686767;
    margin-right: 20px;
    margin-top: 160px;
    gap: 5px;
    box-shadow: 0px 0px 28px -1px rgba(110, 110, 110, 1);
    -webkit-box-shadow: 0px 0px 28px -1px rgba(110, 110, 110, 1);
    -moz-box-shadow: 0px 0px 28px -1px rgba(110, 110, 110, 1);
}

.login__container--right button img {
    width: 20px;
}

.login__container--right button:hover {
    background-color: #5d5c5c;
    color: #fff;
    transform: translateX(8px);
    transition: 0.3s;
}

@media screen and (width <=790px) {
    .login__container {
        margin: 10px;
        width: 700px;
        height: 350px;
    }

    .login__button {
        margin-top: 95px;
    }
}

@media screen and (width <=730px) {
    .login__container {
        margin: 10px;
        width: 650px;
        height: 300px;
    }

    .login__button {
        margin-top: 45px;
    }

    .login__container--right button {
        margin-top: 118px;
    }
}

@media screen and (width <=690px) {
    .login__container {
        margin: 10px;
        width: 600px;
        height: 250px;
    }

    .login__button {
        margin-top: 10px;
    }

    .login__container--right button {
        margin-top: 65px;
    }

    .login__tittle {
        font-size: 25px;
    }

    .login__container--right p {
        font-size: 24px;
        width: 200px;
    }
}

@media screen and (width <=620px) {
    .login__container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 500px;
    }

    .login__container--left {
        border-radius: 15px 15px 0 0;
        height: 50%;
        width: 100%;
    }

    .login__container--right {
        border-radius: 0 0 15px 15px;
        height: 50%;
        width: 100%;
    }
}

@media screen and (width <=435px) {
    .login__container {
        width: 350px;
        height: 450px;
    }

    .login__tittle {
        font-size: 20px;
    }

    .login__container--right p {
        font-size: 19px;
        width: 200px;
    }

    .login__container--left {
        height: 55%;
    }

    .login__container--right {
        height: 45%;
    }

    .login__container--right button {
        margin-top: 20px;
    }
}

@media screen and (width <=370px) {
    .login__container {
        width: 320px;
        height: 420px;
    }

    .login__container--left {
        height: 60%;
    }

    .login__container--right {
        height: 40%;
    }

    .login__container--right button {
        margin-top: 0;
    }
}